<?xml version="1.0" encoding="UTF-8"?>
<widget>
  <widgetname>SVG Puzzle</widgetname>
  <description>Educational game for kindergarten children. Puzzle is an SVG puzzle game. You must drag and drop pieces to the proper location to form an image.</description>
  <width>640</width>
  <height>480</height>
  <author>
    <name>Lukas Laag</name>
    <email>laaglu@gmail.com</email>
    <link>http://www.vectomatic.org</link>
  </author>
</widget>
